---
import Layout from '../layouts/Layout.astro'
import Plan from '../components/Plan.astro'
import ItemPlan from '../components/ItemPlan.astro'
import HowWorks from '../components/HowWorks.astro'
import CardReview from '../components/CardReview.astro'
import Faqs from '../components/home/Faqs'
import Highlights from '../components/home/Highlights'

import '../styles/utils.css'

const info = {
  steps: [
    {
      step: "Crea una cuenta",
      summary: "Con un solo par de click.",
      icon: "usuario.webp",
      altText: "Crea una cuenta"
    },
    {
      step: "Te damos al bienvenida",
      summary: "Comenzaremos a trabajar contigo",
      icon: "pantalla-tactil.webp",
      altText: "Te damos al bienvenida a Weddinvites"
    },
    {
      step: "Desarollo",
      summary: "Peronaliza tu invitación digital.",
      icon: "subiendo.webp",
      altText: "Peronaliza tu invitación digital"
    },
    {
      step: "Comparte",
      summary: "Publica en linea y comparte.",
      icon: "buena-resena.webp",
      altText: "Comparte tu invitación digital"
    }
  ],
  highlights: [
    {
      title: "Conveniencia Moderna",
      content: "Olvídate del estrés y las demoras. Con nuestras <strong>invitaciones de boda digitales</strong>, puedes gestionar y enviar tus invitaciones con facilidad desde cualquier lugar y en cualquier momento."
    },
    {
      title: "Gestión de Confirmaciones",
      content: "Nuestras <strong>invitaciones digitales para boda</strong> facilitan la confirmación de asistencia y la gestión de invitados, haciendo que la planificación de tu evento sea mucho más sencilla."
    },
    {
      title: "Relación Calidad-Precio",
      content: "Descubre la asequibilidad sin sacrificar calidad. Nuestras <strong>invitaciones digitales</strong> no tienen costos de impresión ni envío, permitiéndote ajustarte a tu presupuesto sin comprometer el estilo."
    },
    {
      title: "Diseño Personalizado Ilimitado",
      content: "Cada <strong>invitación digital</strong> se puede personalizar al máximo, adaptándose a tu estilo único. Escoge entre nuestros diseños exclusivos para crear la <strong>invitación virtual</strong> perfecta."
    },
    {
      title: "Compromiso con la Sostenibilidad",
      content: "Celebra tu amor y cuida del planeta. Al optar por <strong>invitaciones digitales</strong>, estás eligiendo una opción más ecológica que contribuye a la reducción del uso de papel."
    },
    {
      title: "Flexibilidad Total",
      content: "Adapta los detalles de tu boda con facilidad. Realiza cambios y actualizaciones en tus <strong>invitaciones digitales</strong> cuando lo necesites, sin costos adicionales."
    }
  ],
  faqs: [
    {
      question: "¿Por qué debería elegir invitaciones digitales en lugar de físicas?",
      answer: "Las invitaciones digitales ofrecen conveniencia y ahorro de tiempo, perfectas para parejas ocupadas que buscan simplificar su proceso de planificación."
    },
    {
      question: "¿Cómo se comparan los costos de las invitaciones digitales con las físicas?",
      answer: "Nuestras invitaciones digitales eliminan costos de impresión y envío, ofreciendo una opción más asequible sin comprometer la calidad o el estilo."
    },
    {
      question: "¿Hay limitaciones en el diseño de las invitaciones digitales?",
      answer: "¡Todo lo contrario! Ofrecemos una amplia gama de opciones de diseño personalizable, permitiendo a las parejas expresar su estilo de manera única."
    },
    {
      question: "¿Cómo contribuyen las invitaciones digitales a la sostenibilidad ambiental?",
      answer: "Valoramos el medio ambiente. Al elegir invitaciones digitales, estás reduciendo el consumo de papel y contribuyendo a la conservación del entorno."
    },
    {
      question: "¿Puedo realizar cambios de último momento en mis invitaciones digitales?",
      answer: "Sí, la flexibilidad es clave. Puedes realizar cambios rápidos y sencillos en los detalles de tu boda, brindándote total control sobre tus invitaciones."
    }
  ]
}
---

<Layout title="Invitaciones Digitales para Boda | Weddinvites" metaDescription="Descubre la comodidad y elegancia de las invitaciones digitales para boda con Weddinvites. Transforma tu celebración con nuestras invitaciones de boda digitales personalizadas y sostenibles.">
  <section>
    <section class="relative h-[400px] overflow-hidden lg:h-[550px]">
      <div>
        <video src="/wedding-invites.webm" class="w-full" autoplay muted loop></video>
      </div>
      <div
        class="absolute top-0 flex flex-col justify-center align-middle w-full h-full"
      >
        <div class="lg:m-auto xl:m-auto xl:w-11/12">
          <h1
            class="block text-center leading-normal px-5 text-white font-bold font-paris md:text-[3.75rem] lg:mb-1 lg:text-secondd-800"
          >
          Eleva tu Celebración con Invitaciones Digitales de Weddinvites!
          </h1>
        </div>
      </div>
    </section>

    <section
      class="container py-5 px-5 -mt-5 md:mt-5 md:flex md:flex-wrap md:mx-auto md:items-center lg:m-auto lg:justify-between lg:mt-10 xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <article class="mb-6 px-4 lg:w-2/3">
        <h2 class="uppercase text-[2.5rem] text-secondd-800">
          Invitaciones digitales
        </h2>
        <span
          class="uppercase font-lora text-[1.5rem] block mb-5 text-secondd-500 -mt-1"
          >Para celebraciones inolvidables</span
        >
        <p class="mb-3">
          Descubre la magia de nuestras <strong
            >invitaciones digitales para bodas</strong
          >, diseñadas para cautivar tus sentidos y reflejar tu historia de amor
          de manera única. En Weddinvites, la creatividad es nuestro sello
          distintivo.
        </p>
        <p class="mb-3">Nuestras <strong>invitaciones de boda digitales</strong> combinan comodidad, sostenibilidad y elegancia, brindándote una experiencia única y moderna desde el primer clic.</p>
        <p class="mb-3">
          Relájate con la comodidad de nuestras <strong
            >invitaciones electrónicas de boda</strong
          >. En un mundo acelerado, Weddinvites te ofrece una solución fácil de
          usar, accesible en cualquier momento y lugar. Simplifica tu proceso de
          envío de invitaciones y da el primer paso hacia una boda inolvidable.
        </p>
        <p>En Weddinvites, te ofrecemos una experiencia innovadora con nuestras <strong>invitaciones digitales</strong> para boda. Nuestra misión es transformar cada <strong>invitación digital</strong> en una obra maestra que refleje tu estilo y valores, proporcionando una alternativa moderna a las invitaciones tradicionales. Personalizamos cada invitación para reflejar la individualidad de cada pareja.</p>
      </article>
      <article class="lg:w-1/3">
        <img class="gradient-mask-bottom" src="/bodas-increibles.webp" alt="Invitaciones Digitales para Bodas" />
      </article>
    </section>

    <section
      class="container py-5 px-5 md:flex md:flex-col md:justify-between md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <article class="mb-6 lg:text-center xl:w-full xl:text-center">
        <h3 class="text-secondd-950 uppercase mb-5">Nuestros Planes</h3>
        <p class="mb-3">
          Eleva tu boda a nuevas alturas con nuestras <strong
            >invitaciones digitales para bodas</strong
          >. Descubre la magia de Weddinvites y comienza tu viaje hacia una
          experiencia única de <strong>invitaciones digitales</strong>.
          Sumérgete en <a href="/planes" class="underline">nuestros planes</a> y
          descubre cómo transformar el camino hacia una boda inolvidable.
        </p>
        <p>
          <strong
            >¡Haz que tu celebración comience con una invitación que refleje tu
            estilo y valores!</strong
          >
        </p>
      </article>
      <article class="grid grid-cols-1 gap-5 md:grid-cols-2 xl:grid-cols-4">
        <Plan name="Save the Date" pricing="0" label="Plan gratuito">
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include={1} />
            <ItemPlan name="Fecha y Hora del Evento" include={1} />
            <ItemPlan name="Información de la Ceremonia" include={1} />
            <ItemPlan name="Información Recepción" include={1} />
            <ItemPlan name="Acerca de Nuestros Padres" include={0} />
            <ItemPlan name="Información Dress Code" include={0} />
            <ItemPlan name="Programa / Itenarario" include={0} />
            <ItemPlan name="Mesa de Regalos" include={0} />
            <ItemPlan name="Nuestra Historia" include={0} />
            <ItemPlan name="Buenos Deseos" include={0} />
          </ul>
        </Plan>
        <Plan name="Amor" pricing="1,399" label="Pruébalo gratis por 15 días">
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include={1} />
            <ItemPlan name="Fecha y Hora del Evento" include={1} />
            <ItemPlan name="Información de la Ceremonia" include={1} />
            <ItemPlan name="Información Recepción" include={1} />
            <ItemPlan name="Acerca de Nuestros Padres" include={1} />
            <ItemPlan name="Información Dress Code" include={1} />
            <ItemPlan name="Programa / Itenarario" include={0} />
            <ItemPlan name="Mesa de Regalos" include={0} />
            <ItemPlan name="Nuestra Historia" include={0} />
            <ItemPlan name="Buenos Deseos" include={0} />
          </ul>
        </Plan>
        <Plan name="Pasión" pricing="1,999" label="Pruébalo gratis por 15 días">
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include={1} />
            <ItemPlan name="Fecha y Hora del Evento" include={1} />
            <ItemPlan name="Información de la Ceremonia" include={1} />
            <ItemPlan name="Información Recepción" include={1} />
            <ItemPlan name="Acerca de Nuestros Padres" include={1} />
            <ItemPlan name="Información Dress Code" include={1} />
            <ItemPlan name="Programa / Itenarario" include={1} />
            <ItemPlan name="Mesa de Regalos" include={1} />
            <ItemPlan name="Nuestra Historia" include={0} />
            <ItemPlan name="Buenos Deseos" include={0} />
          </ul>
        </Plan>
        <Plan
          name="Eternidad"
          pricing="2,499"
          label="Pruébalo gratis por 15 días"
        >
          <ul slot="includes">
            <ItemPlan name="Información de Novios" include={1} />
            <ItemPlan name="Fecha y Hora del Evento" include={1} />
            <ItemPlan name="Información de la Ceremonia" include={1} />
            <ItemPlan name="Información Recepción" include={1} />
            <ItemPlan name="Acerca de Nuestros Padres" include={1} />
            <ItemPlan name="Información Dress Code" include={1} />
            <ItemPlan name="Programa / Itenarario" include={1} />
            <ItemPlan name="Mesa de Regalos" include={1} />
            <ItemPlan name="Nuestra Historia" include={1} />
            <ItemPlan name="Buenos Deseos" include={1} />
          </ul>
        </Plan>
      </article>
    </section>
  </section>

  <section
    class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <h3 class="block mt-5 uppercase text-secondd-950 mb-6 lg:text-center">
      ¿Cómo funciona?
    </h3>

    <!-- <HowTo client:only="react" /> -->
    <HowWorks steps={info.steps} />
  </section>

  <section
    class="container py-5 px-5 mt-10 mb-10 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-32"
  >
    <article class="md:flex md:flex-wrap md:justify-between">
      <h3 class="text-secondd-950 mb-5 uppercase lg:w-full lg:text-center">
        Beneficios de la Invitación Digital
      </h3>
      <p class="mb-10 lg:w-full lg:text-center">
        Te invitamos a explorar los beneficios excepcionales de nuestras <strong
          >invitaciones digitales para bodas</strong
        >. Desde la comodidad hasta la sostenibilidad, cada aspecto de nuestro
        servicio está diseñado para hacer que tu proceso de planificación sea
        más fácil, único y ecológico.
      </p>

      <Highlights client:only="react" deviceType="desktop" transition:persist highlights={info.highlights} />
    </article>
  </section>

  <section class="bg-[url('/bg-pattern.webp')]">
    <div
      class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
    >
      <h3 class="text-secondd-950 uppercase mb-10 lg:text-center">Opiniones</h3>
      <div class="lg:flex lg:justify-between">
        <CardReview
          couple="Adriana y Hector"
          review="Nos fascino nuestra invitación, fue muy fácil de hacer, bastante económica versus las propuestas del método tradicional. Super recomendable!"
        />
        <CardReview
          couple="Alicia y Daniel"
          review="El tiempo se nos vino encima, no teníamos tiempo de iniciar un proceso de Invitación Tradicional, y entonces llegamos a esta solución, Fantastico nos encanto la facilidad y rapidez."
        />
      </div>
    </div>
  </section>

  <section
    class="container py-5 px-5 md:mx-auto lg:m-auto xl:m-auto xl:w-11/12 xl:mt-10"
  >
    <div>
      <h3 class="text-secondd-950 mb-5 uppercase lg:mt-14">
        Preguntas Frecuentes
      </h3>
      <p class="mb-5">
        Las dudas y preguntas acerca de la Invitación Digital son muchas, pero
        Wedding Invites te resuelve todas.
      </p>

      <Faqs client:only="react" faqs={info.faqs} />
    </div>
  </section>
</Layout>

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "Weddinvites",
    "url": "https://www.weddinvites.com",
    "logo": "https://www.weddinvites.com/wedding-invites.webp",
    "sameAs": [
      "https://www.facebook.com/weddinvites",
      "https://www.instagram.com/weddinvites",
      "https://www.linkedin.com/company/weddinvites"
    ],
    "description": "Weddinvites ofrece invitaciones digitales para bodas que combinan comodidad, sostenibilidad y elegancia. Transforma tu celebración con nuestras invitaciones de boda digitales personalizadas.",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Cancún",
      "addressLocality": "Cancún",
      "addressRegion": "Quintana Roo",
      "postalCode": "77500",
      "addressCountry": "MX"
    },
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://www.weddinvites.com"
    }
  }
</script>
